/* @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bold";
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: "Semibold";
  src: url("../fonts/MontserratAlternates-SemiBold.ttf");
}
@font-face {
  font-family: "Extrabold";
  src: url("../fonts/MontserratAlternates-ExtraBold.ttf");
}
@font-face {
  font-family: "Thick";
  src: url("../fonts/MontserratAlternates-Black.ttf");
}
@font-face {
  font-family: "Medium";
  src: url("../fonts/MontserratAlternates-Medium.ttf");
}
@font-face {
  font-family: "Normal";
  src: url("../fonts/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: "Light";
  src: url("../fonts/MontserratAlternates-Light.ttf");
}
@font-face {
  font-family: "Extralight";
  src: url("../fonts/MontserratAlternates-ExtraLight.ttf");
}
@font-face {
  font-family: "Thin";
  src: url("../fonts/MontserratAlternates-Thin.ttf");
}
/* Hide the horizontal scrollbar */
::-webkit-scrollbar {
  width: 0.5rem; /* You can adjust the width as needed */
  height: 0.5rem; /* You can adjust the height as needed */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar thumb (the draggable part) transparent */
}
